node-red/flows.json
[
    {
        "id": "5296de54fe33633a",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "eb929fcb24d04dea",
        "type": "mqtt in",
        "z": "5296de54fe33633a",
        "name": "",
        "topic": "ecoenergy/temperatura",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "83672196f2b47810",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 220,
        "y": 520,
        "wires": [
            [
                "617b2a84973b3c9b",
                "6a252e4727f7e096"
            ]
        ]
    },
    {
        "id": "617b2a84973b3c9b",
        "type": "debug",
        "z": "5296de54fe33633a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 450,
        "y": 480,
        "wires": []
    },
    {
        "id": "77aec6a2be97e1dd",
        "type": "debug",
        "z": "5296de54fe33633a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 430,
        "y": 580,
        "wires": []
    },
    {
        "id": "70270ba68489e83f",
        "type": "mqtt in",
        "z": "5296de54fe33633a",
        "name": "",
        "topic": "ecoenergy/umidade",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "83672196f2b47810",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 620,
        "wires": [
            [
                "77aec6a2be97e1dd",
                "fe7fabcd6e4b6c2d"
            ]
        ]
    },
    {
        "id": "24112038a47ef793",
        "type": "mqtt in",
        "z": "5296de54fe33633a",
        "name": "",
        "topic": "ecoenergy/consumoEnergia",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "83672196f2b47810",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 840,
        "wires": [
            [
                "bf6e9f0b4f731adf",
                "09c469a57d0d72ed"
            ]
        ]
    },
    {
        "id": "bf6e9f0b4f731adf",
        "type": "debug",
        "z": "5296de54fe33633a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 800,
        "wires": []
    },
    {
        "id": "6a252e4727f7e096",
        "type": "ui_gauge",
        "z": "5296de54fe33633a",
        "name": "",
        "group": "d91ca01bf89e9b39",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura (°C)",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "80",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "20",
        "seg2": "50",
        "diff": false,
        "className": "",
        "x": 550,
        "y": 520,
        "wires": []
    },
    {
        "id": "fe7fabcd6e4b6c2d",
        "type": "ui_chart",
        "z": "5296de54fe33633a",
        "name": "",
        "group": "d91ca01bf89e9b39",
        "order": 6,
        "width": 0,
        "height": 0,
        "label": "Umidade (%)",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 490,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "09c469a57d0d72ed",
        "type": "ui_chart",
        "z": "5296de54fe33633a",
        "name": "",
        "group": "d91ca01bf89e9b39",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Consumo de Energia (KWh)",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "15",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 600,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "71ea13d86bd6c9b5",
        "type": "mqtt in",
        "z": "5296de54fe33633a",
        "name": "",
        "topic": "ecoenergy/dispositivo",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "83672196f2b47810",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 220,
        "y": 740,
        "wires": [
            [
                "e05a4719a10799a2",
                "981a67af4a166d91"
            ]
        ]
    },
    {
        "id": "e05a4719a10799a2",
        "type": "debug",
        "z": "5296de54fe33633a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 680,
        "wires": []
    },
    {
        "id": "981a67af4a166d91",
        "type": "ui_text",
        "z": "5296de54fe33633a",
        "group": "d91ca01bf89e9b39",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Dispositivo Monitorado",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "20",
        "color": "#81c21e",
        "x": 600,
        "y": 740,
        "wires": []
    },
    {
        "id": "1feb090e161b5d75",
        "type": "ui_spacer",
        "z": "5296de54fe33633a",
        "name": "spacer",
        "group": "d91ca01bf89e9b39",
        "order": 3,
        "width": 10,
        "height": 1
    },
    {
        "id": "ccc02605fbb3e933",
        "type": "ui_spacer",
        "z": "5296de54fe33633a",
        "name": "spacer",
        "group": "d91ca01bf89e9b39",
        "order": 5,
        "width": 10,
        "height": 1
    },
    {
        "id": "5f18f74639b8d4a5",
        "type": "ui_spacer",
        "z": "5296de54fe33633a",
        "name": "spacer",
        "group": "d91ca01bf89e9b39",
        "order": 7,
        "width": 10,
        "height": 1
    },
    {
        "id": "83672196f2b47810",
        "type": "mqtt-broker",
        "name": "",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "d91ca01bf89e9b39",
        "type": "ui_group",
        "z": "5296de54fe33633a",
        "name": "EcoEnergy",
        "tab": "586c71277dd71b07",
        "order": 1,
        "disp": true,
        "width": 10,
        "collapse": false,
        "className": ""
    },
    {
        "id": "586c71277dd71b07",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]